body {
  font-family: "Roboto", sans-serif; /* 모던한 서체 사용 */
  margin: 0;
  padding: 20px;
  background-color: #f7f9fc; /* 부드러운 배경색 */
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 세련된 그림자 */
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 20px;
  letter-spacing: 1px; /* 문자 간격 조정 */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 부드러운 애니메이션 */
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: #ecf0f1;
  transform: translateY(-3px); /* 모던한 hover 효과 */
}

/* 모달 창 스타일 */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  animation: fadeIn 200ms;
}

.modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-90%);
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #e74c3c;
  text-decoration: none;
}

h2 {
  margin-top: 0;
  font-size: 1.8rem;
  color: #2c3e50;
}

.modal-body {
  max-height: 60vh;
  overflow-y: auto;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #34495e;
}

/* 모달 열릴 때 애니메이션 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
  body {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  li {
    padding: 10px;
    font-size: 1.5rem;
  }

  .modal-content {
    top: 50%;
    width: 90%;
    margin-top: 15%;
    padding: 10px;
  }

  h2 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.5rem;
  }

  .close {
    font-size: 1.2rem;
  }
}
